* {
  margin: 0;
  padding: 0;
}

a {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}

.main {
  height: 100vh;
  background-color: #000000;
}

/***HEADER****/
.logo img {
  margin: 5px 10px;
  padding: 10px;
  border-bottom: 1px solid grey;
  height: 7rem;
}

/***CIRCLES***/
.content {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  margin-top: 20px;
}

.circle {
  background: #0381c1;
  opacity: 0.6;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: #fff solid 2px;
}

.text {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: black;
  transform: translateY(50%);
  font-size: 2rem;
}

.VRcircle {
  width: 350px;
  height: 350px;
}

h1 {
  text-align: center;
  font-size: 9rem;
  transform: translateY(12px);
}

.smallCircles {
  position: absolute;
  display: flex;
}

/***changing circle positions***/
.circle1 {
  transform: translateY(-220px) translateX(75px);
}

.circle2 {
  transform: translateX(-10px);
}

.circle3 {
  transform: translateY(216px) translateX(-79px);
}

.circle4 {
  transform: translateX(10px);
}

/****FOOOTER****/
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transform: translateY(116px);
}

.footer .icons,
.footer .copyright {
  margin: 0 10px;
  padding: 0 10px;
}

.icon {
  height: 25px;
  margin-right: 10px;
}

.copyright-text {
  color: #0381c1;
  font-weight: 700;
}
